.search-box {
  background-color: #568ea3;
  padding: 15px;
}

.search-box > * {
  font-size: 1.5em;
}

.search-box input {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-box select {
  margin-right: 15px;
}

.search-box button {
  float: right;
}

.search-box button .button-text {
  display: none;
}
@media screen and (min-width: 600px) {
  .search-box select {
    margin-right: 25px;
  }

  .search-box {
    max-width: 700px;
    margin: 20px 0;
    border-radius: 10px;
    padding-top: 25px;
  }

  .search-box button .button-text {
    display: inline-block;
    margin-left: 5px;
  }
}
