* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", "Source Sans Pro", Roboto, "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", "Myriad Pro", "Segoe UI", Myriad,
    Helvetica, "Lucida Grande", "DejaVu Sans Condensed", "Liberation Sans",
    "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
  background-color: #fff;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
