* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title {
  font-size: 2em;
  background-color: #568ea3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  padding: 2px;
  margin-bottom: 20px;
}
.movie-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.movie-list li {
  background-color: #ffe8d1;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #826251;
  width: 543px;
}

.movie-details {
  font-size: 1.1em;
  background-color: #68c3d4;
  color: #ffffff;
  margin-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  min-height: 40px;
}

.movie-year {
  position: absolute;
  top: -15px;
  left: 20px;
  background-color: #826251;
  border-radius: 10px;
  padding: 10px;
}

.movie-type {
  position: absolute;
  top: -15px;
  right: 20px;
  background-color: #826251;
  border-radius: 10px;
  padding: 10px;
}

.paginator {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.paginator li {
  display: inline-block;
  padding: 0 15px;
  margin: 5px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  background-color: #826251;
}

.paginator li.selected {
  background-color: gold;
  color: black;
}
